.mainbox
  .mainbox__header0
    .mainbox__header0__info
      .mainbox__header0__info--groupname 
        = @group.name
      .mainbox__header0__info--member
        Member：
        - @group.users.each do |user|
          = user.name
    .mainbox__header0__info1
      = link_to edit_group_path(@group.id), class: "mainbox__header0__info1--edit" do
        .mainbox__header0__info1--edit--btn 
          Edit
  .mainbox__list
    = render @messages
  .mainbox__form
    = form_for [@group, @message] do |f|
      .mainbox__form__mask
        = f.text_field :content, class: 'inputbox__text', placeholder: 'type a message'
        = f.label :image, class: 'mask__image' do
          = icon('fas', 'image', class: 'mask__image')
          = f.file_field :image, class: 'mask__image__file'
      = f.submit 'Send', class: 'submit-btn'

